.form-box-container {
  display: grid;
  grid-template-rows: 50px 1fr 20px;
  grid-template-columns: 20px minmax(280px, auto) 20px;
  width: 100%;
}

.form-box {
  grid-row: 2/3;
  grid-column: 2/3;
  background: #56755c;
  padding: 30px 100px;
  min-width: 280px;
  border-radius: 5px;
  margin: 20px auto;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-box input {
  border: 1px solid #17252a;
  border-radius: 5px;
  background: #fff;
  outline: none;
  height: 30px;
  color: #111;
  font-size: 1rem;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
}
.form-box h2 {
  color: #fff;
}

.form-box button {
  background: transparent;
  border: 2px solid white;
  transition: 0.5s;
  margin: 10px auto;
}

.form-box button:hover {
  background: #fff;
  color: black;
}

.form-box a {
  color: #fff;
}

.form-box a:hover {
  color: #111;
  cursor: pointer;
}

.signLabel {
  width: 80%;
  margin: 0 auto;
}
