* {
  margin: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: #3c9848;
  --secondary: #587a5f;
  --tertiary: #def2f1;
}

.btn {
  background-color: #3c9848;
  color: white;
}

.vote-btn {
  background-color: #3c9848;
  color: white;
}

.declare-btn {
  background-color: #3c9848;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

.vote-btn:hover {
  background-color: var(--secondary);
  color: white;
}

a {
  text-decoration: none;
}

.signUp {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  color: #ffffff;
  transition: 0.5s;
  width: 200px;
}

.btn-margin-10 {
  margin: 10px;
}

.signUp:hover {
  background-color: white;
  color: var(--primary);
}

.register {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.center {
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 10px;
}

.how-box-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.info2 {
  padding: 30px;
  background: #56755c;
  color: white;
}

.info1 {
  padding: 30px;
}

.how-box {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  background: linear-gradient(
    to right bottom,
    rgba(85, 223, 85, 0.8),
    rgba(8, 196, 33, 0.8)
  );
  color: white;
  height: 150px;
  width: 150px;
  margin: 0 10px;
}

.how-box:hover {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
}
.how-box p {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.how-box i {
  font-size: 2.3rem;
  align-self: center;
  justify-self: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-weight: bold;
  background-color: var(--primary);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.space {
  height: 30px;
}

.construction {
  width: 100vw;
  height: 100vh;
}

.construction img {
  width: 100%;
  height: 100%;
}

.btn1 {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  color: #ffffff;
  transition: 0.5s;
  width: 200px;
  display: block;
}

.btn1:hover {
  background-color: white;
  color: var(--primary);
}

select {
  height: 30px;
  width: 250px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
  background-color: var(--primary);
  color: #fff;
}

option {
  text-align: center;
}

/**TABLES**/
table {
  border-collapse: collapse;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

th {
  white-space: nowrap;
  text-align: center;
  background: #3c9848;
  color: #fff;
  width: 250px;
  height: 50px;
  padding: 5px 10px;
}

.serial-num {
  width: 10px;
}

tr {
  background-color: lightgrey;
  border-bottom: 1px solid #ffffff;
  border-radius: 3px;
}

tr:hover {
  background-color: rgb(168, 167, 167);
}

td {
  padding: 5px 10px;
  width: 100px;
  height: 40px;
}

td button {
  padding: 5px 10px;
  width: 100px;
  height: 40px;
}

button i {
  font-size: 1rem;
}

td img {
  width: 50px;
  height: 50px;
  border: 2px solid #3c9848;
  border-radius: 50%;
}
/**Profile Card**/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  width: 400px;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: #587a5f;
}

.card h4 {
  font-size: 1.3rem;
  margin: 5px;
}

.card-container {
  background: white;
  color: black;
  padding: 10px;
}

.card p {
  font-size: 1rem;
  margin: 5px;
}

.card input[type='file'] {
  display: none;
}

.card .custom-file-upload {
  font-size: 1rem;
  margin: 10px 30px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: transparent;
  transition: 0.5s;
  border: 2px solid #587a5f;
}

.card .custom-file-upload:hover {
  background: #587a5f;
  color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card .img-container {
  display: grid;
  object-fit: cover;
  overflow: hidden;
  width: 400px;
  height: 200px;
}

.card img {
  border-radius: 50%;
  width: auto;
  height: 100%;
  object-position: center;
  justify-self: center;
}
